<template>
  <v-card>
    <v-card-title primary-title row wrap>
      <v-flex>
        <component :is="courseComponent" :courseInfo="courseInfo"></component>
        <!--<course-teachers :courseId="courseId"></course-teachers>-->

      </v-flex>

    </v-card-title>
  </v-card>
</template>

<script>
  import CourseMental from './CourseMental.vue'
  import CourseStandart from './CourseStandart.vue'
  import CourseTeachers from './CourseTeachers.vue'

  export default {
    data() {
      return {
        courseId: this.$route.params.id,
        courseInfo: {},
      }
    },
    computed: {
        courseComponent() {
          return this.$route.params.id == 'mental' ? 'courseMental' : 'courseStandart'
        }
    },
    components: {
      courseMental: CourseMental,
      courseStandart: CourseStandart,
      courseTeachers: CourseTeachers
    },
    created() {
      this.$http.get('/api/getCourseByID', {params: {id: this.courseId}}).then((data) => {
        console.log('Success', data);
        this.courseInfo = data.body;
      }, (error) => {
        console.log('Error', error);
      });
    }
  }
</script>

<style>
</style>
