<template>

  <v-container grid-list-md>
    <v-layout row wrap>

      <v-flex xs4 v-for="course in courses" :key="course._id">
        <v-card height="300px">
          <v-card-title primary-title>
            <div>
              <h6 class="headline mb-0">{{course.title}}</h6>
              <p>{{course.description}}</p>
              <p><small>{{course.dateCreated}}</small></p>
              <p><small>id: {{course._id}}</small></p>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="orange" :to="{ path: '/platform/courses/'+ course._id}">Подробнее</v-btn>
            <v-btn flat color="green"
                   @click="studyCourse({_id: course._id, title: course.title})"
                   v-if="!isTeacher && myCourses.indexOf(course._id) == -1"
            >Записаться на курс</v-btn>
            <p v-if="!isTeacher && myCourses.indexOf(course._id) != -1"><small>Вы подписаны на данный курс</small></p>
            <v-btn flat color="green" @click="teachRequest(course._id)" v-if="isTeacher">Хочу преподавать</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        courses: [],
        active: null,
      }
    },
    computed: {
      ...mapGetters([
        'userId',
        'isTeacher',
        'myCourses'
      ])
    },
    methods: {
      ...mapActions([
        'teachRequest',
        'studyCourse'
      ]),
      getCourses() {
        this.$http.get('/api/getCourses').then((data) => {
//          console.log('Success', data.body);
          this.courses = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      }
    },
    created() {
      this.getCourses();
    }
  }
</script>

<style>
</style>
