<template>
  <v-card flat>
    <h4>Преподаватели</h4>
    <v-data-table
      v-bind:headers="headers"
      :items="courseTeachers"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td><router-link :to="{ name: 'User', params: {id: props.item.teacherId}}">{{props.item.firstName + ' ' + props.item.lastName}}</router-link></td>
        <td>{{ props.item.rating }}</td>
        <td class="layout px-0">
          <v-btn color="primary" small flat
                 @click="studyRequest(props.item.teacherId, false)">
            Подать заявку на обучение</v-btn>
        </td>
      </template>
    </v-data-table>

  </v-card>
</template>

<script>
  export default {
    props: [
      'courseId'
    ],
    data() {
      return {
        courseTeachers: [],
        headers: [
          {text: 'Фамилия Имя', value: 'name', align: 'left'},
          {text: 'Рейтинг', value: 'rating', align: 'left'},
          {text: 'Действия', value: 'actions', align: 'left', sortable: false}
        ]
      }
    },
    created() {
      this.$http.get('/api/getCourseTeachersByID', {params: {id: this.courseId}}).then((data) => {
        console.log('Success', data);
        this.courseTeachers = data.body;
      }, (error) => {
        console.log('Error', error);
      });
    }
  }
</script>

<style>
</style>
