<template>
  <v-layout>
    <v-flex>
      <h5 class="display-1 teal--text text--darken-2 mb-3">{{ courseInfo.title }}</h5>
      <p>{{ courseInfo.description }}</p>
      <p>Курс предлагает:</p>
      <ul class="pl-3">
        <li class="mb-1">доступ к тренажеру для отработки навыков устного счета с гибким набором настроек</li>
        <li class="mb-1">ведение статистики</li>
      </ul>
      <v-btn color="success"
             small
             @click="studyCourse({_id: courseInfo._id, title: courseInfo.title})"
             v-if="!isTeacher && myCourses.indexOf(courseInfo._id) == -1">Записаться на курс</v-btn>
      <v-alert type="success" :value="true" v-if="!isTeacher && myCourses.indexOf(courseInfo._id) != -1">
        Вы уже подписаны на данный курс
      </v-alert>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    props: [
      'courseInfo'
    ],
    data() {
      return {
        id: this.$route.params.id,
      }
    },
    computed: {
      ...mapGetters([
        'user',
        'isTeacher',
        'myCourses',
      ])
    },
    methods: {
      ...mapActions([
        'studyCourse'
      ]),
      studyRequest(teacherId, isSelfStudy) {
        let payload = {
          courseId: this.course._id,
          userId: this.user._id,
          teacherId: teacherId,
          isSelfStudy: isSelfStudy
        };
        this.$http.put('/api/studyRequest', payload).then((data) => {
          console.log('Success', data);
        }, (error) => {
          console.log('Error', error);
        });
      }
    },
  }
</script>

<style>
</style>
