<template>
    <div class="container-fluid content">
      <div class="row">
        <div class="list-group col col-md-2" v-if="$route.name != 'Game'">
          <router-link :to="{ name: 'AdminDashboard'}" class="list-group-item" active-class="list-group-item-success">Рабочая область</router-link>
          <router-link :to="{ name: 'AdminCourses'}" class="list-group-item" active-class="list-group-item-success">Курсы</router-link>
          <router-link :to="{ name: 'AdminTeachRequests'}" class="list-group-item" active-class="list-group-item-success">Заявки учителей</router-link>
          <router-link :to="{ name: 'AdminUsers'}" class="list-group-item" active-class="list-group-item-success">Пользователи</router-link>
        </div>

        <transition name="slide" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {
    methods: {
    },
    components: {
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    }
  }
</script>

<style>
</style>
