<template>
  <div class="col-md-10">
    <div>
      <h5>Список курсов</h5>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Дата создания</th>
          <th>Название</th>
          <th>Описание</th>
        </tr> </thead>
        <tbody>
        <tr v-for="course in courses">
          <td>{{course._id}}</td>
          <td>{{course.dateCreated}}</td>
          <td>{{course.title}}</td>
          <td>{{course.description}}</td>
          <td>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <form @submit.prevent="createCourse">
      <div class="form-group">
        <label for="courseId">ID курса(системное наименование)</label>
        <input type="text"
               class="form-control"
               id="courseId"
               placeholder="Введите системное наименование"
               v-model="newCourse._id">
      </div>
      <div class="form-group">
        <label for="courseName">Название курса</label>
        <input type="text"
               class="form-control"
               id="courseName"
               placeholder="Введите название курса"
               v-model="newCourse.title">
      </div>
      <div class="form-group">
        <label for="courseDescription">Описание</label>
        <textarea class="form-control"
                  id="courseDescription"
                  rows="3"
                  v-model="newCourse.description"></textarea>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" v-model="newCourse.isSelfStudy">
          Разрешить самостоятельное прохождение курса
        </label>
      </div>
      <button class="btn btn-primary" type="submit">Добавить курс</button>
    </form>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        newCourse: {
          _id: '',
          title: '',
          description: '',
          isSelfStudy: false
        },
        courses: []
      }
    },
    methods: {
      getCourses() {
        this.$http.get('/api/getCourses').then((data) => {
          //console.log('Success', data.body);
          this.courses = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      },
      createCourse() {
        this.$http.post('/api/createCourse',this.newCourse).then((data) => {
          console.log('Success', data);
          this.getCourses();
        }, (error) => {
          console.log('Error', error);
        });
      },
    },
    components: {
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    created() {
      this.getCourses()
    }
  }
</script>

<style>
</style>
