<template>
  <div class="col-md-10">
    <h1>{{ $route.name }}</h1>
    <div class="well">
      <h3><span class="fa fa-user"></span> Local</h3>
      <p>
        <strong>id</strong>{{user._id}}<br>
        <strong>email</strong>: {{user.email}}<br>
        <strong>password</strong>: {{user.password}}<br>
        <strong>user roles</strong>: {{user.userRoles}}
      </p>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {
    methods: {
    },
    components: {
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    }
  }
</script>

<style>
</style>
