<template>
  <div class="col col-md-10">
    <h5>Заявки не преподавание</h5>
    <div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>email</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>ID курса</th>
          <th>Название курса</th>
          <th>Действия</th>
        </tr> </thead>
        <tbody>
        <tr v-for="request in teachRequests">
          <td>{{request.teacherId}}</td>
          <td>{{request.email}}</td>
          <td>{{request.firstName}}</td>
          <td>{{request.lastName}}</td>
          <td>{{request.courseId}}</td>
          <td>{{request.courseTitle}}</td>
          <td>
            <button type="button"
                    class="btn btn-success btn-sm"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Принять"
                    @click="acceptTeachRequest(request)">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Отклонить"
                    @click="denyTeachRequest(request)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {
    data() {
      return {
        teachRequests: []
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
      getAdminTeachRequests() {
        this.$http.get('/api/getAdminTeachRequests').then((data) => {
          this.teachRequests = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      },
      acceptTeachRequest(request) {
        console.log(request);
        let payload = {
            teacherId: request.teacherId,
            courseId: request.courseId
        };
        this.$http.post('/api/admin/acceptTeachRequest', payload).then((data) => {
          console.log('Success', data);
          this.getAdminTeachRequests();
        }, (error) => {
          console.log('Error', error);
        });
      },
      denyTeachRequest(request) {
        console.log(request);
        this.$http.post('/api/admin/denyTeachRequest',{id: _id}).then((data) => {
          console.log('Success', data);
          this.getUsers();
        }, (error) => {
          console.log('Error', error);
        });
      }
    },
    created() {
      this.getAdminTeachRequests()
    }
  }
</script>

<style>
</style>
