<template>
  <div class="col col-md-10">
    <h5>Пользователи</h5>
    <div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>email</th>
          <th>Nick</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Дата рождения</th>
          <th>Телефон</th>
          <th>Роли</th>
        </tr> </thead>
        <tbody>
        <tr v-for="user in users">
          <td>{{user._id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.birthDate}}</td>
          <td>{{user.phone}}</td>
          <td>
            <button type="button"
                    class="btn btn-primary btn-sm"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Пользователь">
              <i class="fa fa-user" aria-hidden="true"></i>
            </button>
            <button type="button"
                    :class="[getTeacherClass(user.userRoles), 'btn', 'btn-default', 'btn-sm']"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Учитель"
                    @click="changeTeacherStatus(user._id)">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </button>
            <button type="button"
                    :class="[getAdminClass(user.userRoles), 'btn', 'btn-default', 'btn-sm']"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Администратор"
                    @click="changeAdminStatus(user._id)">
              <i class="fa fa-user-secret" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {
    data() {
      return {
          users: []
      }
    },
    methods: {
      getUsers() {
        this.$http.get('/api/getUsers').then((data) => {
          //console.log('Success', data.body);
          this.users = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      },
      changeAdminStatus(_id) {
        this.$http.post('/api/changeAdminStatus',{id: _id}).then((data) => {
          console.log('Success', data);
          this.getUsers();
        }, (error) => {
          console.log('Error', error);
        });
      },
      changeTeacherStatus(_id) {
        this.$http.post('/api/changeTeacherStatus',{id: _id}).then((data) => {
          console.log('Success', data);
          this.getUsers();
        }, (error) => {
          console.log('Error', error);
        });
      },
      getTeacherClass(userRoles) {
        if(userRoles.indexOf("teacher") != -1) {
          return 'btn-warning'
        }
      },
      getAdminClass(userRoles) {
        if (userRoles.indexOf("admin") != -1) {
          return 'btn-success'
        }
      }
    },
    components: {
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    created() {
      this.getUsers()
    }
  }
</script>

<style>
  .red {
    color: red;
  }
</style>
