<template>
  <!--<div class="col-12">
      <form @submit.prevent="startGame" v-if="!game.gameStarted">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" v-if="typeSys == 'simple'">
            <p>Изученное число</p>
            <select class="form form-control" v-model="passedBone">
              <option v-for="value in 9">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" v-if="typeSys == 'brothers'">
            <p>Брат</p>
            <select class="form form-control" v-model="brother">
              <option v-for="value in 4">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" v-if="typeSys == 'friends'">
            <p>Друг</p>
            <select class="form form-control" v-model="friend">
              <option v-for="value in 9">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p>Сложность</p>
            <select class="form form-control" v-model="maxNumber">
              <option v-for="value in [9,99,999,9999,99999,999999]">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p>Количество примеров</p>
            <select class="form form-control" v-model="maxCount">
              <option v-for="value in 100">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p>Скорость вывода, мс.</p>
            <input type="number" class="form form-control" v-model="delay">
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="checkbox col-md-2 text-center">
            <label>
              <input type="checkbox" v-model="doubleMode"> Режим х2
            </label>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-2">
            <button class="btn btn-primary btn-block" type="submit">Начать</button>
          </div>
        </div>
      </form>
  </div>-->
  <v-container grid-list-md v-if="!game.gameStarted && !game.gameFinished">

    <p class="body-1 text-xs-center">Выбран режим: <b>{{game.type}}</b>. Выберите настройки</p>

    <v-form @submit.prevent="startGame">

      <v-layout v-bind="binding">

        <v-flex xs12 md6 v-if="game.typeSys == 'simple'">
          <v-select
            v-bind:items="[1,2,3,4,5,6,7,8,9]"
            v-model="passedBone"
            label="Изученное число"
            class="input-group--focused"
            item-value="value"
          ></v-select>
        </v-flex>

        <v-flex xs12 md6 v-if="game.typeSys == 'brothers'">
          <v-select
            v-bind:items="[1,2,3,4]"
            v-model="brother"
            label="Брат"
            class="input-group--focused"
            item-value="value"
          ></v-select>
        </v-flex>

        <v-flex xs12 md6 v-if="game.typeSys == 'friends'">
          <v-select
            v-bind:items="[1,2,3,4,5,6,7,8,9]"
            v-model="friend"
            label="Друг"
            class="input-group--focused"
            item-value="value"
          ></v-select>
        </v-flex>

        <v-flex xs12 md6 >
          <v-select
            v-bind:items="[9,99,999,9999,99999,999999]"
            v-model="difficulty"
            label="Сложность"
            class="input-group--focused"
            item-value="value"
          ></v-select>
        </v-flex>

        <v-flex xs12 md6 >
          <v-select
            v-bind:items="[5,10,15,20,25,50,100]"
            v-model="maxCount"
            label="Количество примеров"
            class="input-group--focused"
            item-value="value"
          ></v-select>
        </v-flex>

        <v-flex xs12 md6 >
          <v-select
            v-bind:items="delayList"
            v-model="delay"
            label="Скорость вывода, с."
            class="input-group--focused"
            item-value="value"
          ></v-select>
        </v-flex>

      </v-layout>

      <v-layout row justify-center>

        <v-flex xs12 sm2 class="text-xs-center">
          <v-checkbox
            label="Режим х2"
            v-model="doubleMode"
          ></v-checkbox>
        </v-flex>

      </v-layout>

      <v-layout row justify-center>

          <v-btn color="warning" @click="initGame">Вернуться к выбору режима</v-btn>
          <v-btn color="primary" type="submit">Начать</v-btn>
      </v-layout>


      <p><small>* озвучка доступна для скорости не менее 1.5 секунды и сложности менее 999</small></p>
    </v-form>

  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    props: [
      'game'
    ],
    data() {
      return {
          delayList: [...Array(20||0)].map((v,i)=>(i+1)*0.5)
      }
    },
    computed: {
      ...mapGetters([
      ]),
      passedBone: {
        get() {return this.$store.state.game.game.options.passedBone;},
        set(value) {this.$store.commit('UPDATE_PASSEDBONE', value);}
      },
      brother: {
        get() {return this.$store.state.game.game.options.brother;},
        set(value) {this.$store.commit('UPDATE_BROTHER', value);}
      },
      friend: {
        get() {return this.$store.state.game.game.options.friend;},
        set(value) {this.$store.commit('UPDATE_FRIEND', value);}
      },
      difficulty: {
        get() {return this.$store.state.game.game.options.difficulty;},
        set(value) {this.$store.commit('UPDATE_DIFFICULTY', value);}
      },
      maxCount: {
        get() {return this.$store.state.game.game.options.maxCount;},
        set(value) {this.$store.commit('UPDATE_MAXCOUNT', value);}
      },
      delay: {
        get() {return this.$store.state.game.game.options.delay/1000;},
        set(value) {this.$store.commit('UPDATE_DELAY', value*1000);}
      },
      doubleMode: {
        get() {return this.$store.state.game.game.options.doubleMode;},
        set(value) {this.$store.commit('UPDATE_DOUBLEMODE', value);}
      },
      binding () {
        const binding = {}

        if (this.$vuetify.breakpoint.xsOnly) binding.column = true

        return binding
      }
    },
    methods: {
      ...mapActions([
        'startGame',
        'initGame'
      ])
    }
  }
</script>

<style>
</style>
