<template>
  <v-card>

    <v-layout>
      <app-game-list v-if="!game.type"></app-game-list>
      <app-game-options v-if="game.type" :game="game"></app-game-options>
      <app-game-board v-if="game.type" :game="game"></app-game-board>
      <app-game-answer v-if="game.type" :game="game"></app-game-answer>
    </v-layout>

    <div>
      <p>Selected game: {{ game.type }}</p>
      <p>Результат: {{ game.status.result }}</p>
    </div>

  </v-card>
</template>

<script>

  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import mental from '../../../../../mentalFunctions';
  import gameList from './GameList.vue';
  import gameOptions from './GameOptions.vue';
  import gameBoard from './GameBoard.vue';
  import gameAnswer from './GameAnswer.vue';

  export default {
    computed: {
      ...mapGetters([
        'game',
      ]),
/*      selectedComponent() {
        if (this.selectedTest == 'Простой') {
          return this.selectedComponent = 'appTestSimple';
        } else if (this.selectedTest == 'Братья'){
          return this.selectedComponent = 'appTestBrothers';
        } else if (this.selectedTest == 'Друзья'){
          return this.selectedComponent = 'appTestFriends';
        } else if (this.selectedTest == 'Супер-пупер'){
          return this.selectedComponent = 'appTestSuper';
        } else {
          return ''
        }
      }*/
    },
    methods: {
      ...mapActions([
        'selectGame',
        'initGame'
      ])
    },
    created() {
      this.initGame();

//      ion.sound({
//        sounds: [
//          {name: "+1"},
//          {name: "+2"},
//          {name: "+3"},
//          {name: "+4"},
//          {name: "+5"},
//          {name: "+6"},
//          {name: "+7"},
//          {name: "+8"},
//          {name: "+9"},
//          {name: "-1"},
//          {name: "-2"},
//          {name: "-3"},
//          {name: "-4"},
//          {name: "-5"},
//          {name: "-6"},
//          {name: "-7"},
//          {name: "-8"},
//          {name: "-9"}
//        ],
//
//        path: "../static/sounds/",
//        preload: true,
//        multiplay: false,
//        volume: 0.9
//      });
    },
    components: {
      appGameList: gameList,
      appGameOptions: gameOptions,
      appGameBoard: gameBoard,
      appGameAnswer: gameAnswer
    }
  }
</script>

<style>
</style>
