<template>
  <v-flex xs12>

    <p class="headline text-xs-center">Выберите режим игры</p>

    <v-list>
      <template v-for="game in gameList">
        <v-list-tile @click="selectGame(game)">
          <v-list-tile-content>
            <v-list-tile-title v-html="game.rus" class="text-xs-center"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider/>
      </template>
    </v-list>

  </v-flex>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data () {
      return {
        items: [
          { header: 'Today' },
          { divider: true, inset: true },
          { avatar: '/static/doc-images/lists/2.jpg',
            title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
            subtitle: "<span class='text--primary'>to Alex, Scott, Jennifer</span> — Wish I could come, but I'm out of town this weekend." },
          { divider: true, inset: true },
          { avatar: '/static/doc-images/lists/3.jpg', title: 'Oui oui', subtitle: "<span class='text--primary'>Sandra Adams</span> — Do you have Paris recommendations? Have you ever been?" }
        ]
      }
    },
    computed: {
      ...mapGetters([
        'gameList',
        'gameType'
      ]),
    },
    methods: {
      ...mapActions([
        'selectGame'
      ])
    }
  }
</script>

<style>
</style>
