<template>
  <v-layout row wrap v-if="game.gameStarted">

    <v-flex xs12
            text-xs-center
            v-if="game.status.countdown != 0">
      <h1 class="display-4 countdown">{{ game.status.countdown }}</h1>
    </v-flex>

    <v-flex :xs12="!game.options.doubleMode"
            :xs6="game.options.doubleMode"
            text-xs-center
            :class="myClass"
            v-if="game.status.countdown == 0">
      <h1 class="display-4 tasknumber"
          :style="game.status.nextNumber1 > 0 ? {color: '#4CAF50'} : {color: '#F44336'}"
      ><span v-if="game.status.nextNumber1 > 0">+</span>{{ game.status.nextNumber1 }}</h1>
    </v-flex>


    <v-flex xs6
            text-xs-center
            :class="myClass"
            v-if="game.options.doubleMode">
      <h1 v-if="game.status.countdown == 0"
          class="display-4 tasknumber"
          :style="game.status.nextNumber2 > 0 ? {color: '#4CAF50'} : {color: '#F44336'}"
      ><span v-if="game.status.nextNumber2 > 0">+</span>{{ game.status.nextNumber2 }}</h1>
    </v-flex>

  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    props: [
      'game'
    ],
    data() {
      return {
        myClass: 'animated'
      }
    },
    methods: {
      /*playIon() {
        ion.sound({
          sounds: [
            {name: "03"}
          ],

          path: "../static/sounds/",
          preload: true,
          multiplay: false,
          volume: 0.9
        });

// controlling sprites
        ion.sound.play("03");
      }*/
    },
    computed: {
      ...mapGetters({
        switcher: 'numberSwitcher'
      })
    },
    watch: {
      switcher: function (newSwitcher, oldSwitcher) {
        this.myClass = 'animated fadeIn';
        let vm = this;
        setTimeout(() => {
          vm.myClass = 'animated';
        },500);
      }
    }
  }
</script>

<style>
  .countdown {
    /*font-size: 10em;*/
    color: #9C27B0;
  }
  .tasknumber {
    /*font-size: 10em;*/
    font-family: Roboto;
  }
</style>
