<template>

  <v-container v-if="game.gameFinished">

    <!--Сообщение-->
    <v-layout row wrap justify-center>
      <v-flex xs12>
        <v-alert :color="game.isCorrect ? 'success' : 'error'" value="true" v-if="game.isAnswered">
          {{ game.message }}
        </v-alert>
      </v-flex>
    </v-layout>

    <!--Текстовые поля-->
    <v-form @submit.prevent="checkAnswer(answers)" v-if="game.gameFinished">
      <v-container grid-list-md>
        <v-layout justify-center>
          <v-flex xs12 sm3>
            <v-text-field
              :label="!game.options.doubleMode ? 'Результат' : 'Результат 1'"
              v-model="answers.answer1"
              :disabled="game.isAnswered"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 v-if="game.options.doubleMode">
            <v-text-field
              label="Результат 2"
              v-model="answers.answer2"
              :disabled="game.isAnswered"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout justify-center v-if="!game.isAnswered">
          <v-flex text-xs-center>
            <v-btn color="success" :disabled="disableAnswer" type="submit">Ответить</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>

    <br>

    <!--Поля с ответами-->
    <v-container grid-list-md>
      <v-layout row wrap justify-center v-if="answerIsShown">
        <v-flex xs5 text-xs-center>
          <v-alert color="warning" value="true">
            {{result1}}
          </v-alert>
        </v-flex>
        <v-flex xs5 class="text-xs-center" v-if="game.options.doubleMode">
          <v-alert color="warning" value="true">
            {{result2}}
          </v-alert>
        </v-flex>
      </v-layout>
    </v-container>

    <br>

    <!--Кнопки к действиям-->
    <div class="text-xs-center" row justify-center justify-center v-if="game.isAnswered || game.isCorrect">
      <v-btn color="warning" @click='answerIsShown = !answerIsShown'>Показать ответ</v-btn>
      <v-btn color="info" @click='goToOptions' v-if="game.isAnswered">К настройкам</v-btn>
      <v-btn color="primary" @click='restart' v-if="game.isAnswered">Еще раз</v-btn>
    </div>

  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        answers: {
          answer1: '',
          answer2: ''
        },
        answerIsShown: false
      }
    },
    props: [
      'game',
      'gameList'
    ],
    methods: {
      ...mapActions([
        'checkAnswer',
        'initGame',
        'startGame',
        'selectGame'
      ]),
      restart() {
        this.answers = {
          answer1: '',
          answer2: ''
        };
        this.startGame();
      },
      goToOptions() {
        let game = {
            rus: this.game.type,
            eng: this.game.typeSys
        }
        this.initGame();
        this.selectGame(game);
      }
    },
    computed: {
      result1() {
        return 'Результат: ' + this.game.status.result.result1 + '. Примеры: ' + this.game.status.result.resultSet1 + '.';
      },
      result2() {
          return 'Результат: ' + this.game.status.result.result2 + '. Примеры: ' + this.game.status.result.resultSet2 + '.';
      },
      disableAnswer() {
          if (!this.game.options.doubleMode) {
            return this.answers.answer1 == '' ? true : false
          } else {
            return this.answers.answer1 == '' || this.answers.answer2 == '' ? true : false
          }
      }
    }
  }
</script>

<style>
</style>
