<template>
  <div>
    <h1>{{ $route.name }}</h1>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {

  }
</script>

<style>
</style>
