<template>

  <v-flex xs12>
    <v-card>
    <v-layout>
      <v-flex xs12 sm3>
        <v-avatar tile :size="'100%'" class="grey lighten-4">
          <img src="http://i.pravatar.cc/300" alt="avatar">
        </v-avatar>
      </v-flex>

      <v-flex xs12 sm9 class="px-2">
        <h5 class="headline">
          {{ fullName }}
          <v-chip color="orange" text-color="white" v-if="currentUser.userRoles.indexOf('teacher') != -1">
            Учитель
            <v-icon right dark>account_circle</v-icon>
          </v-chip>
        </h5>
        <p v-if="currentUser.country || currentUser.city">Город: <span v-if="currentUser.country">{{currentUser.country}}, </span><span v-if="currentUser.city">{{currentUser.city}}</span></p>
        <p v-if="currentUser.birthDate">Дата рождения: {{currentUser.birthDate}}</p>
        <p>Пол: {{gender}}</p>
        <p v-if="currentUser.userRoles.indexOf('teacher') != -1">Телефон: {{currentUser.phone}}</p>
        <p v-if="currentUser.userRoles.indexOf('teacher') != -1">Email: {{currentUser.email}}</p>
        <pre>{{currentUser | pretty}}</pre>
      </v-flex>
    </v-layout>
    </v-card>

<!--    <v-card>
      <v-card-text>

        <h5 class="headline">{{currentUser.firstName + ' ' + currentUser.lastName}} <small>{{currentUser.email}}</small></h5>
        <p>Город: {{currentUser.country}}, {{currentUser.city}}</p>
        <p>Дата рождения: {{currentUser.birthDate}}</p>
        <p>Пол: {{gender}}</p>
      </v-card-text>
    </v-card>-->
  </v-flex>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        fileName: '123'
      }
    },
    props: [
      'currentUser'
    ],
    methods: {
    },
    components: {
    },
    computed: {
      ...mapGetters([
      ]),
      gender() {
          if (this.currentUser.gender == 'male') {
              return 'мужской'
          } else if (this.currentUser.gender == 'female') {
              return 'женский'
          } else {
              return 'не указан'
          }
      },
      fullName() {
        return this.currentUser.firstName + ' ' + this.currentUser.lastName
      }
    }
  }
</script>

<style>
</style>
