<template>
    <v-flex xs12>
      <v-card>
        <v-form>
          <v-flex xs3>
            <img :src="imageSrc" class="image" >
          </v-flex>
          <input @change="uploadImage" type="file" name="photo" accept="image/*">
        </v-form>
        <v-divider></v-divider>
          <v-form v-model="valid" ref="form" xs12 @submit.prevent="editUser">

            <v-text-field
              label="Имя"
              v-model="user.firstName"
              required
            ></v-text-field>

            <v-text-field
              label="Фамилия"
              v-model="user.lastName"
              required
            ></v-text-field>

            <v-radio-group v-model="user.gender" row>
              <v-radio label="Мужской" value="male" ></v-radio>
              <v-radio label="Женский" value="female"></v-radio>
            </v-radio-group>

            <v-text-field
              label="Дата рождения"
              v-model="user.birthDate"
              required
            ></v-text-field>

            <v-text-field
              label="Страна"
              v-model="user.country"
              required
            ></v-text-field>

            <v-text-field
              label="Город"
              v-model="user.city"
              required
            ></v-text-field>

            <v-text-field
              label="Контактный телефон"
              v-model="user.phone"
              required
            ></v-text-field>

            <v-btn type="submit" :dark="valid" color="light-blue lighten-2" :disabled="!valid">Изменить</v-btn>

          </v-form>
      </v-card>
    </v-flex>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import axios from 'axios'

  export default {
    data() {
      return {
        user: {
          userRole: 'user',
          email:'',
          password:'',
          username: '',
          firstName: '',
          lastName: '',
          gender: 'male',
          birthDate: '',
          country: '',
          city: '',
          phone: ''
        },
        valid: false,
        imageSrc: 'http://nahmdong.com/vitalhill/img/default.png',
      }
    },
    methods: {
      editUser() {
        console.log('done');
      },
      uploadImage: function(e) {
        let files = e.target.files;
        if(!files[0]) {
          return;
        }
        let data = new FormData();
        data.append('image', files[0]);

        let reader = new FileReader();

        reader.onload = (e) => {
          this.imageSrc = e.target.result;
        };

        axios.post('/api/uploads', data, {headers: { 'Content-Type': 'multipart/form-data' } })
          .then(function (response) {
            reader.readAsDataURL(files[0]);
          })
          .catch(function (error) {
            console.log(error); // catch your error
          });

        reader.readAsDataURL(files[0]);
      }
    },
  }
</script>

<style>

  .image {
    width: 100%;
    height: 100%;
  }
</style>
