<template>
  <v-layout row wrap>
<!--    <v-flex xs12>
      <h3>Пока здесь полный список пользователей</h3>
    </v-flex>-->
    <v-flex xs12>

      <v-card class="grey lighten-3">
        <v-container
          fluid
          style="min-height: 0;"
          grid-list-lg
        >
          <v-layout row wrap>
            <v-flex xs12 md6 lg4 v-for="user in users" :key="user._id">
              <v-card>
                <v-container fluid grid-list-lg>
                  <v-layout row>
                    <v-flex xs7>
                      <div>
                        <div class="subheading">
                          <router-link :to="{ name: 'User', params: {id: user._id}}" ><a class="teal--text darken-3--text">{{user.firstName + ' ' + user.lastName}}</a></router-link>
                        </div>
                        <div>{{user.email}}</div>
                        <div class="orange--text" v-if="user.userRoles.indexOf('teacher') != -1">
                          Учитель
                        </div>
                      </div>
                    </v-flex>
                    <v-flex xs5>
                      <v-card-media
                        src="http://i.pravatar.cc/300"
                        height="125px"
                        contain
                      ></v-card-media>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>


      <!--

      <v-container
        fluid
        style="min-height: 0;"
        grid-list-lg
      >
        <v-layout row wrap>
          <v-flex xs12>
            <v-card v-for="user in users" :key="user._id" color="teal darken-3" class="white&#45;&#45;text">
              &lt;!&ndash;          <router-link :to="{ name: 'User', params: {id: user._id}}" tag="h3" class="card-header"><a>{{user.firstName + ' ' + user.lastName}}</a></router-link>

                        &lt;!&ndash;<p class="card-text">id: {{user._id}}</p>&ndash;&gt;
                        <p class="card-text">email: {{user.email}}.</p>
                        <a href="#" class="btn btn-primary">Подписаться</a>
                        <a href="#" class="btn btn-primary">Написать сообщение</a>&ndash;&gt;
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">
                        <router-link :to="{ name: 'User', params: {id: user._id}}"><a>{{user.firstName + ' ' + user.lastName}}</a></router-link>
                      </div>
                      <div>{{user.email}}</div>
                    </div>
                  </v-flex>
                  <v-flex xs5>
                    <v-card-media
                      src="http://i.pravatar.cc/300"
                      height="125px"
                      contain
                    ></v-card-media>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>

        </v-layout>
      </v-container>-->
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        users: []
      }
    },
    methods: {
      getUsers() {
        this.$http.get('/api/getUsers').then((data) => {
          //console.log('Success', data.body);
          this.users = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      },
    },
    components: {
    },
    computed: {
    },
    created() {
      this.getUsers()
    }
  }
</script>

<style>
</style>
