<template>

  <v-layout justify-center>
    <v-flex>
      <h4 class="card-title">Изменение пароля</h4>
      <v-form v-model="valid" ref="form" xs12 @submit.prevent="changePassword()">
        <v-text-field
          label="Введите текущий пароль"
          v-model="credentials.oldPassword"
          :rules="passwordRules"
          type="password"
          required
        ></v-text-field>

        <v-text-field
          label="Новый пароль"
          v-model="credentials.newPassword"
          :rules="passwordRules"
          type="password"
          required
        ></v-text-field>

        <v-text-field
          label="Повторите новый пароль"
          v-model="credentials.newPasswordConfirm"
          :rules="passwordRules"
          type="password"
          required
        ></v-text-field>

        <v-btn type="submit" :dark="valid" color="light-blue lighten-2" :disabled="!valid">Подтвердить изменения</v-btn>

      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data() {
      return {
        credentials: {
          oldPassword:'',
          newPassword:'',
          newPasswordConfirm:''
        },
        valid: false,
        passwordRules: [
          (v) => !!v || 'Поле Пароль обязательно к заполнению',
//          (v) => v && v.length <= 10 || 'Name must be less than 10 characters'
        ],
      }
    },
    methods: {
      changePassword() {
        console.log('done');
      }
    },
  }
</script>

<style>
</style>
