<template>
  <v-layout row wrap>
    <div v-if="Object.keys(currentUser).length === 0">
      <h4>Пользователь не найден</h4>
    </div>
    <app-user-info :currentUser="currentUser" v-if="Object.keys(currentUser).length !== 0"></app-user-info>
    <!--<app-user-actions :currentUser="currentUser"></app-user-actions>-->
    <!--<app-user-wall></app-user-wall>-->
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import UserInfo from './UserInfo'
  import UserActions from './UserActions'
  import UserWall from './UserWall'

  export default {
    data() {
      return {
        id: this.$route.params.id,
        currentUser: {}
      }
    },
    methods: {

    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    components: {
      appUserInfo: UserInfo,
      appUserActions: UserActions,
      appUserWall: UserWall
    },
    created() {
      if (this.id == this.user._id) {
        this.currentUser = this.user;
      } else {
        this.$http.get('/api/getUserProfile', {params: {id: this.id}}).then((data) => {
          //console.log('Success', data);
          this.currentUser = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      }
    }
  }
</script>

<style>
</style>
