<template>
  <v-layout justify-center>
    <v-flex>

      <h4 class="card-title">Дополнительные контакты</h4>
      <v-data-table
        v-bind:headers="headers"
        :items="user.parents"
        hide-actions
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.type }}</td>
          <td>{{ props.item.firstName }}</td>
          <td>{{ props.item.lastName }}</td>
          <td>{{ props.item.phone }}</td>
          <td class="justify-center layout px-0">
            <v-btn icon class="mx-0" @click="">
              123
            </v-btn>
            <v-btn icon class="mx-0" @click="">
              234
            </v-btn>
          </td>
        </template>
      </v-data-table>
<!--{{user.parents.length}}-->
      <!--<pre>{{user | pretty}}</pre>-->

      <button class="btn btn-info" v-if=" !addMoreParent" @click="addMoreParent = !addMoreParent">Добавить</button>
      <v-form @submit.prevent="addParentInfo(parent)" v-if=" addMoreParent">

        <v-select
          :items="parentType"
          v-model="parent.type"
          label="Степень родства"
          class="input-group--focused"
          item-value="text"
        ></v-select>

        <v-text-field
          label="Имя"
          v-model="parent.firstName"
          required
        ></v-text-field>

        <v-text-field
          label="Фамилия"
          v-model="parent.lastName"
          required
        ></v-text-field>

        <v-text-field
          label="Контактный телефон"
          v-model="parent.phone"
          required
        ></v-text-field>

        <button type="submit" class="btn btn-info">Добавить</button>
        <button class="btn btn-default" v-if="addMoreParent" @click="addMoreParent = !addMoreParent">Отмена</button>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        parentType: [
          {
            text: 'Мать',
            value: 'mother'
          },
          {
            text: 'Отец',
            value: 'father'
          },
          {
            text: 'Представитель',
            value: 'representative'
          }
        ],
        parent: {
          type: 'mother',
          firstName: '',
          lastName: '',
          phone: ''
        },
        addMoreParent: false,
        headers: [
          {text: 'Степень родства', value: 'type', align: 'left'},
          {text: 'Имя', value: 'firstName', align: 'left'},
          {text: 'Фамилия', value: 'lastName', align: 'left'},
          {text: 'Телефон', value: 'phone', align: 'left'},
          {text: 'Действия', value: 'actions', align: 'left', sortable: false}
        ]
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
      ...mapActions([
        'addParentInfo'
      ])
    },
  }
</script>

<style>
</style>
