<template>
<!--    <div class="container-fluid content">
      <div class="row">
        <div class="list-group col col-md-2">
          <router-link :to="{ name: 'Options'}" class="list-group-item" active-class="list-group-item-info">Основные</router-link>
          <router-link :to="{ name: 'OptionsSecurity'}" class="list-group-item" active-class="list-group-item-info">Изменить пароль</router-link>
          <router-link :to="{ name: 'OptionsExtra'}" class="list-group-item" active-class="list-group-item-info">Дополнительные контакты</router-link>
        </div>
        <transition name="slide" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
    <hr>-->

  <v-card>
    <v-tabs :scrollable="false">
      <v-tabs-bar class="grey lighten-4">
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tabs-item :to="{name: 'Options'}" router>
          Основные
        </v-tabs-item>
        <v-tabs-item :to="{name: 'OptionsSecurity'}" router>
          Безопасность
        </v-tabs-item>
        <!--        <v-tabs-item :to="{name: 'AdminTeachRequests'}" router>
                  Заявки учителей
                </v-tabs-item>-->
        <v-tabs-item :to="{name: 'OptionsExtra'}" router>
          Дополнительные контакты
        </v-tabs-item>
      </v-tabs-bar>

      <v-layout row wrap>
        <router-view></router-view>
      </v-layout>
    </v-tabs>

  </v-card>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        editUser: {
          userRole: 'user',
          email:'',
          password:'',
          username: '',
          firstName: '',
          lastName: '',
          gender: 'male',
          birthDate: '',
          country: '',
          city: '',
          phone: ''
        },
        signupMessage: '',
        active: null,
      }
    },
    methods: {
//      editThisUser() {
//        console.log('done');
//      }
    },
    components: {
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    }
  }
</script>

<style>
</style>
