<template>
  <v-app id="mental" >
    <!--<v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      v-if="!gameStarted && user.authenticated"
    >
      <v-list class="pt-0" dense>
        <v-list-tile
          v-for="item in items"
          :key="item.title"
          :to="item.route"
          v-if="item.showCase"
        >
          <v-list-tile-action>
            <v-icon light v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-divider/>
      <v-list class="pt-0" dense>
        <v-list-group v-for="item in games" :value="item.active" :key="item.title">
          <v-list-tile slot="item" @click="">
            <v-list-tile-action>
              <v-icon>{{ item.action }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>keyboard_arrow_down</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-list-tile v-for="subItem in item.items" :key="subItem.title" @click="selectGame(subItem.titleEng)" :to="subItem.route">
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>{{ subItem.action }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>
      </v-list>
      <v-divider/>

      <v-list class="pt-0" dense>
        <v-list-group v-for="item in courses" :value="item.active" :key="item.title">
          <v-list-tile slot="item" @click="">
            <v-list-tile-action>
              <v-icon>{{ item.action }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>keyboard_arrow_down</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-list-tile v-for="subItem in item.items" :key="subItem.title" @click="" :to="subItem.route">
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>{{ subItem.action }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>
        <v-btn flat :to="{name: 'Login'}" v-if="!user.authenticated">Войти</v-btn>
        <v-btn flat :to="{name: 'Signup'}" v-if="!user.authenticated">Регистрация</v-btn>
        <v-btn flat @click="logout" v-if="user.authenticated">Выход</v-btn>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed class="indigo darken-4" dark
               v-if="!gameStarted && user.authenticated">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat :to="{name: 'Admin'}" v-if="user.authenticated && user.userRoles.indexOf('admin') != -1">Администрирование</v-btn>
        <v-btn flat :to="{name: 'Login'}" v-if="!user.authenticated">Войти</v-btn>
        <v-btn flat :to="{name: 'Signup'}" v-if="!user.authenticated">Регистрация</v-btn>
        <v-btn flat @click="logout" v-if="user.authenticated">Выход</v-btn>
      </v-toolbar-items>
    </v-toolbar>-->


<!--    <appHeader v-if="!gameStarted && user.authenticated && $route.name != 'Home'"></appHeader>
    <appNavigation v-if="!gameStarted && user.authenticated"></appNavigation>
    <main>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <router-view :key="$route.path"></router-view>
        </v-slide-y-transition>
      </v-container>
    </main>

    <v-footer :fixed="fixed">
      <span>&copy; 2017</span>
    </v-footer>-->

    <v-slide-y-transition mode="out-in">
      <router-view></router-view>
    </v-slide-y-transition>
  </v-app>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
  }
</script>

<style lang="stylus">
  @import './stylus/main'
</style>
