<template>
  <v-card>
    <v-tabs light grow >
      <v-tabs-bar class="grey lighten-4" v-if="!gameStarted">
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tabs-item key="overview" href="#overview">
          Обзор
        </v-tabs-item>
        <v-tabs-item key="2" href="#tab-2">
          Домашнее задание
        </v-tabs-item>
        <v-tabs-item key="3" href="#tab-3">
          Инструкции
        </v-tabs-item>
        <v-tabs-item key="game" href="#game">
          Игра
        </v-tabs-item>
<!--        <v-tabs-item :to="{name: 'MyCourseMentalPrimary'}" router>
          Первая страница
        </v-tabs-item>
        <v-tabs-item :to="{name: 'MyCourseMentalSecondary'}" router>
          Вторая страница
        </v-tabs-item>-->
<!--        <v-tabs-item :to="{name: 'Game', params: {name: 'simple'}}" router>
          <v-icon>casino</v-icon>
        </v-tabs-item>-->
      </v-tabs-bar>

      <v-tabs-items>
        <v-tabs-content key="overview" id="overview">
          <v-card flat>
            <p class="headline text-xs-center">Игровая статистика</p>
            <v-data-table
              v-bind:headers="gameStatHeaders"
              :items="gameStatItems"
              hide-actions
              class="elevation-1"
              disable-initial-sort
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.gameType }}</td>
                <td class="text-xs-right">{{ props.item.gameNumber }}</td>
                <td class="text-xs-right">{{ props.item.gameWins }}</td>
                <td class="text-xs-right">{{ props.item.winPercent }} %</td>
              </template>
            </v-data-table>
          </v-card>
        </v-tabs-content>
        <v-tabs-content key="2" id="tab-2">
          <v-card flat>
            <v-card-text>2</v-card-text>
          </v-card>
        </v-tabs-content>
        <v-tabs-content key="3" id="tab-3">
          <v-card flat>
            <v-card-text>3</v-card-text>
          </v-card>
        </v-tabs-content>
        <v-tabs-content key="game" id="game">
          <v-card flat>
            <appGame></appGame>
          </v-card>
        </v-tabs-content>
      </v-tabs-items>

      <!--<router-view></router-view>-->

    </v-tabs>

  </v-card>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import game from './game/Game.vue';

  export default {
    data () {
      return {
        gameStatHeaders: [
          {
            text: 'Режим игры',
            align: 'left',
            sortable: false,
            value: 'gameType'
          },
          { text: 'Количество игр', value: 'gameNumber' },
          { text: 'Количество побед', value: 'gameWins' },
          { text: 'Процент побед', value: 'winPercent' }
        ],
      }
    },
    computed: {
      ...mapGetters([
        'user',
        'gameStarted'
      ]),
      gameStatItems() {
        let simpleNum = this.user.mental.gameNumber.simple;
        let brothersNum = this.user.mental.gameNumber.brothers;
        let friendsNum = this.user.mental.gameNumber.friends;
        let anzanNum = this.user.mental.gameNumber.anzan;
        let simpleWins = this.user.mental.gameWins.simple;
        let brothersWins = this.user.mental.gameWins.brothers;
        let friendsWins = this.user.mental.gameWins.friends;
        let anzanWins = this.user.mental.gameWins.anzan;
          return [
            {
              value: false,
              gameType: 'Просто',
              gameNumber: simpleNum,
              gameWins: simpleWins,
              winPercent: simpleNum == 0 ? 0 : parseFloat((simpleWins / simpleNum * 100).toFixed(2))
            },
            {
              value: false,
              gameType: 'Братья',
              gameNumber: brothersNum,
              gameWins: brothersWins,
              winPercent: brothersNum == 0 ? 0 : parseFloat((brothersWins / brothersNum * 100).toFixed(2))
            },
            {
              value: false,
              gameType: 'Друзья',
              gameNumber: friendsNum,
              gameWins: friendsWins,
              winPercent: friendsNum == 0 ? 0 : parseFloat((friendsWins / friendsNum * 100).toFixed(2))
            },
            {
              value: false,
              gameType: 'Анзан',
              gameNumber: anzanNum,
              gameWins: anzanWins,
              winPercent: anzanNum == 0 ? 0 : parseFloat((anzanWins / anzanNum * 100).toFixed(2))
            },
          ]
      }
    },
    methods: {
      ...mapActions([

      ])
    },
    created() {

    },
    components: {
      appGame: game
    }
  }
</script>

<style>
</style>
