<template>
  <div class="text-center" v-if="game.gameStarted">
    <p class="countdown" v-if="game.status.countdown != 0">{{ game.status.countdown }}</p>
    <div class="row justify-content-center">
      <div class="col text-center">
        <p v-if="game.status.countdown == 0"
           class="tasknumber"
           :style="game.status.nextNumber1 > 0 ? {color: 'green'} : {color: 'red'}"
        ><span v-if="game.status.nextNumber1 > 0">+</span>{{ game.status.nextNumber1 }}</p>
      </div>
      <div class="col text-center" v-if="game.options.doubleMode">
        <p v-if="game.status.countdown == 0"
           class="tasknumber"
           :style="game.status.nextNumber2 > 0 ? {color: 'green'} : {color: 'red'}"
        ><span v-if="game.status.nextNumber2 > 0">+</span>{{ game.status.nextNumber2 }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'game'
    ],
  }
</script>

<style>
</style>
