<template>
  <div class="col-12">
      <form @submit.prevent="startGame" v-if="!game.gameStarted">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" v-if="typeSys == 'simple'">
            <p>Изученное число</p>
            <select class="form form-control" v-model="passedBone">
              <option v-for="value in 9">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" v-if="typeSys == 'brothers'">
            <p>Брат</p>
            <select class="form form-control" v-model="brother">
              <option v-for="value in 4">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" v-if="typeSys == 'friends'">
            <p>Друг</p>
            <select class="form form-control" v-model="friend">
              <option v-for="value in 9">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p>Сложность</p>
            <select class="form form-control" v-model="maxNumber">
              <option v-for="value in [9,99,999,9999,99999,999999]">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p>Количество примеров</p>
            <select class="form form-control" v-model="maxCount">
              <option v-for="value in 100">{{ value }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p>Скорость вывода, мс.</p>
            <input type="number" class="form form-control" v-model="delay">
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="checkbox col-md-2 text-center">
            <label>
              <input type="checkbox" v-model="doubleMode"> Режим х2
            </label>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-2">
            <button class="btn btn-primary btn-block" type="submit">Начать</button>
          </div>
        </div>
      </form>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    props: [
      'game'
    ],
    computed: {
      ...mapGetters([
        'typeSys'
      ]),
      passedBone: {
        get() {return this.$store.state.game.game.options.passedBone;},
        set(value) {this.$store.commit('UPDATE_PASSEDBONE', value);}
      },
      brother: {
        get() {return this.$store.state.game.game.options.brother;},
        set(value) {this.$store.commit('UPDATE_BROTHER', value);}
      },
      friend: {
        get() {return this.$store.state.game.game.options.friend;},
        set(value) {this.$store.commit('UPDATE_FRIEND', value);}
      },
      maxNumber: {
        get() {return this.$store.state.game.game.options.maxNumber;},
        set(value) {this.$store.commit('UPDATE_MAXNUMBER', value);}
      },
      maxCount: {
        get() {return this.$store.state.game.game.options.maxCount;},
        set(value) {this.$store.commit('UPDATE_MAXCOUNT', value);}
      },
      delay: {
        get() {return this.$store.state.game.game.options.delay;},
        set(value) {this.$store.commit('UPDATE_DELAY', value);}
      },
      doubleMode: {
        get() {return this.$store.state.game.game.options.doubleMode;},
        set(value) {this.$store.commit('UPDATE_DOUBLEMODE', value);}
      },
    },
    methods: {
      ...mapActions([
        'startGame'
      ])
    }
  }
</script>

<style>
</style>
