<template>
  <div>
    <div class="alert text-center"
         v-if="game.isAnswered"
         :class="game.isCorrect ? 'alert-success' : 'alert-danger'">
      <b>{{ game.message }}</b>
    </div>
    <br>
    <form @submit.prevent="checkAnswer(answers)" v-if="game.gameFinished">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <input class="form form-control"
                 v-model="answers.answer1"
                 :placeholder="!game.options.doubleMode ? 'Результат' : 'Результат 1'">
        </div>
        <div class="col-md-6" v-if="game.options.doubleMode">
          <input class="form form-control"
                 v-model="answers.answer2"
                 placeholder="Результат 2">
        </div>
      </div>
      <br>
      <div class="row justify-content-center" v-if="!game.isAnswered || !game.isCorrect">
        <div class="col-md-2">
          <button class="btn btn-success btn-block" type="submit">Ответить</button>
        </div>
      </div>
    </form>
    <br>
    <div class="row justify-content-center" v-if="answerIsShown">
      <div class="col-md-5 alert alert-info text-center">
        {{result1}}
      </div>
      <div class="col-md-2" v-if="game.options.doubleMode"></div>
      <div class="col-md-5 alert alert-info text-center" v-if="game.options.doubleMode">
        {{result2}}
      </div>
    </div>
    <br>
    <div class="row justify-content-center" v-if="game.isAnswered || game.isCorrect">
      <div class="col-md-2" v-if="game.isAnswered">
        <button class="btn btn-info btn-block" @click='initGame'>К настройкам</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success btn-block" @click="answerIsShown = !answerIsShown">Показать ответ</button>
      </div>
      <div class="col-md-2" v-if="game.isAnswered">
        <button class="btn btn-primary btn-block" @click="start">Еще раз</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        answers: {
          answer1: '',
          answer2: ''
        },
        answerIsShown: false
      }
    },
    props: [
      'game'
    ],
    methods: {
      ...mapActions([
        'startGame',
        'checkAnswer',
        'initGame'
      ]),
      start() {
        this.answers = {
          answer1: '',
          answer2: ''
        };
        this.startGame();
      },
      showAnswer() {

      }
    },
    computed: {
      result1() {
        return 'Результат: ' + this.game.status.result.result1 + '. Примеры: '+ this.game.status.result.resultSet1;
      },
      result2() {
          return 'Результат: ' + this.game.status.result.result2 + '. Примеры: '+ this.game.status.result.resultSet2;
      }
    }
  }
</script>

<style>
</style>
