<template>
  <div>
    <h1 class="text-center">Выберите игру</h1>
    <div class="row justify-content-center">
      <div class="col-6 list-group">
        <button type="button" class="list-group-item" v-for="game in gameList" @click="selectGame(game)">{{ game }}</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    computed: {
      ...mapGetters([
        'gameList'
      ]),
    },
    methods: {
      ...mapActions([
        'selectGame'
      ])
    }
  }
</script>

<style>
</style>
