<template>
  <div>
    <app-game-list v-if="!type"></app-game-list>
    <app-game-options :game="game" v-if="type"></app-game-options>
    <app-game-board   :game="game" v-if="type"></app-game-board>
    <app-game-answer  :game="game" v-if="type"></app-game-answer>
    <hr>
    <!--<p class="text-center">Selected game: {{ type }}</p>-->
    <!--<p class="text-center">Результат: {{ game.status.result }}</p>-->
  </div>
</template>

<script>

  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import mental from '../../mentalFunctions';
  import gameList from './GameList.vue';
  import gameOptions from './GameOptions.vue';
  import gameBoard from './GameBoard.vue';
  import gameAnswer from './GameAnswer.vue';

  export default {
    computed: {
      ...mapGetters([
        'game',
        'type'
      ]),
/*      selectedComponent() {
        if (this.selectedTest == 'Простой') {
          return this.selectedComponent = 'appTestSimple';
        } else if (this.selectedTest == 'Братья'){
          return this.selectedComponent = 'appTestBrothers';
        } else if (this.selectedTest == 'Друзья'){
          return this.selectedComponent = 'appTestFriends';
        } else if (this.selectedTest == 'Супер-пупер'){
          return this.selectedComponent = 'appTestSuper';
        } else {
          return ''
        }
      }*/
    },
    methods: {
    },
    created() {
      this.$store.dispatch('initGame');
    },
    components: {
      appGameList: gameList,
      appGameOptions: gameOptions,
      appGameBoard: gameBoard,
      appGameAnswer: gameAnswer
    }
  }
</script>

<style>
  .countdown {
    font-size: 10em;
    color: red;
  }
  .tasknumber {
    font-size: 10em;
    color: green;
  }
</style>
