<template>
  <b-navbar toggleable toggle-breakpoint="md" type="inverse" variant="info">

    <b-nav-toggle target="nav_collapse"></b-nav-toggle>

    <b-link class="navbar-brand" to="/">
      <span>PerfectKid</span>
    </b-link>

    <b-collapse is-nav id="nav_collapse">

      <b-nav is-nav-bar>
        <b-nav-item :to="{ name: 'User', params: {id: user._id}}" v-if="user.authenticated">Профиль</b-nav-item>
<!--        <b-nav-item :to="{ name: 'Courses'}">Курсы</b-nav-item>
        <b-nav-item :to="{ name: 'Student'}" v-if="user.authenticated">Учеба</b-nav-item>
        <b-nav-item :to="{ name: 'Teacher'}" v-if="user.authenticated && user.userRoles.indexOf('teacher') != -1">Кабинет учителя</b-nav-item>-->
      </b-nav>

      <b-nav is-nav-bar class="ml-auto">

        <b-nav-item :to="{ name: 'Admin'}" v-if="user.authenticated && user.userRoles.indexOf('admin') != -1">Администрирование</b-nav-item>
        <b-nav-item :to="{ name: 'Login'}" v-if="!user.authenticated">Войти</b-nav-item>
        <b-nav-item :to="{ name: 'Signup'}" v-if="!user.authenticated">Регистрация</b-nav-item>

        <!-- Navbar dropdowns -->
        <!--<b-nav-item-dropdown text="Язык" right>-->
          <!--<b-dropdown-item to="#">EN</b-dropdown-item>-->
          <!--<b-dropdown-item to="#">ES</b-dropdown-item>-->
          <!--<b-dropdown-item to="#">RU</b-dropdown-item>-->
          <!--<b-dropdown-item to="#">FA</b-dropdown-item>-->
        <!--</b-nav-item-dropdown>-->


        <b-nav-item-dropdown right  v-if="user.authenticated">

          <!-- Using text slot -->
          <template slot="text">
            <!--<span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">-->
                  <!--<img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" class="img-responsive img-circle" title="user.firstName + ' ' + user.lastName" alt="user.firstName + ' ' + user.lastName" width="30px" height="30px">-->
              <!--</span>-->
            <span class="user-name">{{user.firstName + ' ' + user.lastName}}</span>
          </template>

          <b-dropdown-item :to="{ name: 'Options'}">Настройки</b-dropdown-item>
          <b-dropdown-item v-if="user.authenticated" @click="logout">Выход</b-dropdown-item>

        </b-nav-item-dropdown>

      </b-nav>
    </b-collapse>
  </b-navbar>
  <!--<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <router-link to="/" class="navbar-brand">PerfectKid</router-link>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <router-link :to="{ name: 'Profile'}" tag="li" active-class="active"><a>Платформа</a></router-link>
          <router-link :to="{ name: 'Profile'}" tag="li" active-class="active"><a>Профиль</a></router-link>
          <router-link :to="{ name: 'Student'}" tag="li" active-class="active"><a>Учеба</a></router-link>
          <router-link :to="{ name: 'Game'}" tag="li" active-class="active"><a>Игра</a></router-link>
          <router-link :to="{ name: 'Options'}" tag="li" active-class="active"><a>Настройки</a></router-link>
          <router-link :to="{ name: 'Teacher'}"
                       tag="li"
                       active-class="active"
                       v-if="user.authenticated && user.userRoles.indexOf('teacher') != -1">
            <a>Кабинет учителя <span class="glyphicon glyphicon-eye-open"></span></a>
          </router-link>
          &lt;!&ndash;<router-link to="/home" tag="li" active-class="active" v-if="user.authenticated" @click="logout"><a>Log out</a></router-link>&ndash;&gt;
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li :class="['dropdown',{'open':visible}]" @click="visible = true">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                  <img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" class="img-responsive img-circle" title="user.local.firstName + ' ' + user.local.lastName" alt="user.local.firstName + ' ' + user.local.lastName" width="30px" height="30px">
              </span>
              <span class="user-name">{{user.local.firstName + ' ' + user.local.lastName}}</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>123</li>
              <li>123</li>
              <li>123</li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a href="link">Option</a></li>
            </ul>
          </li>
          <router-link v-if="user.authenticated && user.userRoles.indexOf('admin') != -1" :to="{ name: 'Admin'}" tag="li" active-class="active"><a>Администрирование</a></router-link>
          <router-link :to="{ name: 'Login'}" tag="li" active-class="active"><a v-if="!user.authenticated" >Войти</a></router-link>
          <router-link :to="{ name: 'Signup'}" tag="li" active-class="active"><a v-if="!user.authenticated" >Регистрация</a></router-link>
          <li>
            <a href="#" v-if="user.authenticated" @click="logout">Выход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>-->
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../auth/auth'

  export default {
    components: {
    },
    data() {
      return {
        visible:false
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
      ...mapActions([
        'deauthenticateUser'
      ]),
      logout() {
        auth.logout(this);
      }
    }
  }
</script>

<style>
  .navbar {
    z-index: 100;
  }
</style>
