<template>
  <div>
    <h3 class="text-center">Добро пожаловать на платформу для обучения PerfectKid</h3>
    <div class="row justify-content-md-center" v-if="!user.authenticated">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Вы ученик?</h4>
            <p class="card-text">Станьте учеником и найдите себе репититора или занимайтесь самостоятельно</p>
            <router-link :to="{ name: 'Signup'}" class="btn btn-secondary">Стать учеником</router-link>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Вы репититор?</h4>
            <p class="card-text">Зарегистрируйтесь как преподаватель и найдите себе ученика</p>
            <router-link :to="{ name: 'Signup'}" class="btn btn-secondary">Стать преподавателем</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    components: {
    },

    data () {
      return {
        flickityOptions: {
          initialIndex: 2,
          wrapAround: true,
          cellSelector: '.carousel-cell'
        }
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
    }
  }
</script>

<style>
  /* carousel height */
  .carousel {
    height: 400px;
  }

  /* cell inherit height from carousel */
  .carousel-cell {
    height: 100%;
  }
  .carousel-cell > img {
    height: 100%;
  }
  .static-banner {
    position: absolute;
    background: hsla(0, 0%, 0%, 0.3);
    z-index: 1;
    padding: 2px 20px;
    font-size: 26px;
    color: white;
    pointer-events: none;
  }
  .static-banner1 {
    left: 10px;
    top: 10px;
  }

  .static-banner2 {
    right: 10px;
    bottom: 10px;
  }
  .flickity-page-dots { bottom: 10px; }
</style>
