<template>
    <div class="col-sm-6 offset-sm-3">

      <h1>Вход</h1>
      <form @submit.prevent="login">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" v-model="credentials.email">
        </div>
        <div class="form-group">
          <label>Пароль</label>
          <input type="password" class="form-control" name="password" v-model="credentials.password">
        </div>

        <input class="btn btn-info" value="Войти" type="submit"/>
      </form>

      <hr>

      <p>Нужна учетная запись? <router-link to="/signup">Регистрация</router-link></p>
      <p>Или на <router-link to="/">домашнюю</router-link>.</p>

    </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../auth/auth'

  export default {
    data() {
      return {
        credentials: {
          email: '',
          password: ''
        }
        /*user: {
          email:'',
          password:'',
          authenticated: false
        }*/
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
      ...mapActions([
        'setUser',
        'authenticateUser'
      ]),
      login() {
        auth.login(this, this.credentials, 'Profile');

      }
    }
  }
</script>

<style>
</style>
