<template>
  <div class="col-sm-6 offset-sm-3">

    <h1>Регистрация</h1>
    <!--<div v-if="message.length > 0" class="alert alert-danger">{{signupCtrl.message}}</div>-->

    <form @submit.prevent="signup">
      <div class="form-check">
        <label>Зарегистрироваться как</label>
        <br>
        <label class="form-check-label">
          <input class="form-check-input" type="radio" id="male" value="user" v-model="user.userRole">
          Ученик
        </label>
        <label class="form-check-label">
          <input class="form-check-input" type="radio" id="female" value="teacher" v-model="user.userRole">
          Учитель
        </label>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" v-model="user.email">
      </div>
      <div class="form-group">
        <label>Имя пользователя(псевдоним)</label>
        <input type="text" class="form-control" name="nickName" v-model="user.username">
      </div>
      <div class="form-group">
        <label>Имя</label>
        <input type="text" class="form-control" name="firstName" v-model="user.firstName">
      </div>
      <div class="form-group">
        <label>Фамилия</label>
        <input type="text" class="form-control" name="lastName" v-model="user.lastName">
      </div>

<!--      <div class="form-group">
        <label>Пол</label>
        <input type="text" class="form-control" name="gender" v-model="user.gender">
      </div>-->

      <div class="form-check">
        <label>Пол</label>
        <br>
        <label class="form-check-label">
          <input class="form-check-input" type="radio" id="male" value="male" v-model="user.gender">
          Мужской
        </label>
        <label class="form-check-label">
          <input class="form-check-input" type="radio" id="female" value="female" v-model="user.gender">
          Женский
        </label>
      </div>

      <div class="form-group">
        <label>Дата рождения</label>
        <input type="date" class="form-control" name="birthDate" v-model="user.birthDate">
      </div>
      <div class="form-group">
        <label>Страна</label>
        <input type="text" class="form-control" name="country" v-model="user.country">
      </div>
      <div class="form-group">
        <label>Город</label>
        <input type="text" class="form-control" name="city" v-model="user.city">
      </div>
      <div class="form-group">
        <label>Контактный телефон</label>
        <input type="phone" class="form-control" name="phone" v-model="user.phone">
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <input type="password" class="form-control" name="password" v-model="user.password">
      </div>

      <button type="submit" class="btn btn-info">Зарегистрироваться</button>
    </form>
    <div v-if="signupMessage" class="alert alert-success" role="alert">{{ signupMessage }}</div>
    <hr>

    <p>Есть учетная запись? <router-link to="/login">Войти</router-link></p>
    <p>Или на <router-link to="/">домашнюю</router-link>.</p>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        user: {
          userRole: 'user',
          email:'',
          password:'',
          username: '',
          firstName: '',
          lastName: '',
          gender: 'male',
          birthDate: '',
          country: '',
          city: '',
          phone: ''
        },
        signupMessage: ''
      }
    },
    methods: {
      ...mapActions([
        'setUser'
      ]),
      signup() {
        this.$http.post('/api/signup', this.user).then((data) => {
          this.signupMessage = data.body;
          console.log(this.signupMessage);
          //this.$router.push('/login');
        }, (error) => {
          this.signupMessage = error.body;
          console.log('Error',error);
        })
      }
    }
  }
</script>

<style>
</style>
