<template>
  <div>
    <h3>Пока здесь полный список пользователей</h3>
    <div class="row">
      <div class="card col-md-4" v-for="user in users">
          <router-link :to="{ name: 'User', params: {id: user._id}}" tag="h3" class="card-header"><a>{{user.firstName + ' ' + user.lastName}}</a></router-link>

        <div class="card-block">
          <p class="card-text">id: {{user._id}}</p>
          <p class="card-text">email: {{user.email}}.</p>
          <a href="#" class="btn btn-primary">Подписаться</a>
          <a href="#" class="btn btn-primary">Написать сообщение</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        users: []
      }
    },
    methods: {
      getUsers() {
        this.$http.get('/api/getUsers').then((data) => {
          //console.log('Success', data.body);
          this.users = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      },
    },
    components: {
    },
    computed: {
    },
    created() {
      this.getUsers()
    }
  }
</script>

<style>
</style>
