<template>
  <div>
    <div class="container-fluid content">
      <div class="row">
        <div class="list-group col col-md-2">
          <router-link :to="{ name: 'Options'}" class="list-group-item" active-class="list-group-item-info">Основные</router-link>
          <router-link :to="{ name: 'OptionsSecurity'}" class="list-group-item" active-class="list-group-item-info">Изменить пароль</router-link>
          <router-link :to="{ name: 'OptionsExtra'}" class="list-group-item" active-class="list-group-item-info">Дополнительные контакты</router-link>
        </div>
        <transition name="slide" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
    <hr>
    <!--<div class="row justify-content-md-center">-->
      <!--<div class="col-md-9">-->
        <!--<div class="card">-->
          <!--<div class="card-block">-->
            <!--<form @submit.prevent="editUser">-->

              <!--<div class="form-group">-->
                <!--<label>Email</label>-->
                <!--<input type="text" class="form-control" name="email" v-model="user.email">-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Имя пользователя(псевдоним)</label>-->
                <!--<input type="text" class="form-control" name="nickName" v-model="user.username">-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Имя</label>-->
                <!--<input type="text" class="form-control" name="firstName" v-model="user.firstName">-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Фамилия</label>-->
                <!--<input type="text" class="form-control" name="lastName" v-model="user.lastName">-->
              <!--</div>-->

              <!--<div class="form-check">-->
                <!--<label>Пол</label>-->
                <!--<br>-->
                <!--<label class="form-check-label">-->
                  <!--<input class="form-check-input" type="radio" id="male" value="male" v-model="user.gender">-->
                  <!--Мужской-->
                <!--</label>-->
                <!--<label class="form-check-label">-->
                  <!--<input class="form-check-input" type="radio" id="female" value="female" v-model="user.gender">-->
                  <!--Женский-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Дата рождения</label>-->
                <!--<input type="date" class="form-control" name="birthDate" v-model="user.birthDate">-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Страна</label>-->
                <!--<input type="text" class="form-control" name="country" v-model="user.country">-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Город</label>-->
                <!--<input type="text" class="form-control" name="city" v-model="user.city">-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Контактный телефон</label>-->
                <!--<input type="phone" class="form-control" name="phone" v-model="user.phone">-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Пароль</label>-->
                <!--<input type="password" class="form-control" name="password" v-model="user.password">-->
              <!--</div>-->

              <!--<button type="submit" class="btn btn-info">Подтвердить изменения</button>-->

            <!--</form>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {
    data() {
      return {
        editUser: {
          userRole: 'user',
          email:'',
          password:'',
          username: '',
          firstName: '',
          lastName: '',
          gender: 'male',
          birthDate: '',
          country: '',
          city: '',
          phone: ''
        },
        signupMessage: ''
      }
    },
    methods: {
      editUser() {
        console.log('done');
      }
    },
    components: {
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    }
  }
</script>

<style>
</style>
