<template>
  <div class="card col-md-10">
    <div class="card-block">

      <h4 class="card-title">Изменение пароля</h4>

      <form @submit.prevent="changePassword()">

        <div class="form-group">
          <label>Введите текущий пароль</label>
          <input type="password" class="form-control" name="oldPassword" v-model="credentials.oldPassword">
        </div>

        <div class="form-group">
          <label>Новый пароль</label>
          <input type="password" class="form-control" name="newPassword" v-model="credentials.newPassword">
        </div>

        <div class="form-group">
          <label>Повторите новый пароль</label>
          <input type="password" class="form-control" name="newPasswordConfirm" v-model="credentials.newPasswordConfirm">
        </div>

        <button type="submit" class="btn btn-info">Подтвердить изменения</button>

      </form>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        credentials: {
          oldPassword:'',
          newPassword:'',
          newPasswordConfirm:''
        }
      }
    },
    methods: {
      changePassword() {
        console.log('done');
      }
    },
  }
</script>

<style>
</style>
