<template>
  <b-card class="mb-2">
        <span>
          <h1 class="panel-title pull-left"
                  style="font-size:30px;">
            <i :class="['fa',{'fa-male':currentUser.gender == 'male'},{'fa-female':currentUser.gender == 'female'}]" class="fa fa-female" aria-hidden="true"></i>
          {{currentUser.firstName + ' ' + currentUser.lastName}} <small>{{currentUser.email}}</small>
          </h1>
        </span>
    <br><br>
    <span class="pull-left">
                        <!--<router-link :to="{ name: 'Friends'}" class="btn btn-link" style="text-decoration:none;"><a><i class="fa fa-fw fa-users" aria-hidden="true"></i>Друзья</a></router-link>-->
                        <router-link :to="{ name: 'Game'}" class="btn btn-link" style="text-decoration:none;"><a><i class="fa fa-fw fa-gamepad" aria-hidden="true"></i>Игра</a></router-link>
<!--                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-list-alt" aria-hidden="true"></i> Мои курсы</a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-bookmark" aria-hidden="true"></i> Мои учителя <span class="badge">42</span></a>-->
                    </span>
    <!--<span class="pull-right">-->
                        <!--<a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-at" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Mention"></i></a>-->
                        <!--<a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>-->
                        <!--<a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ignore"></i></a>-->
                    <!--</span>-->
  </b-card>
</template>

<script>
  export default {
    props: [
        'currentUser'
    ],
    methods: {
    },
    components: {
    },
    computed: {
    }
  }
</script>

<style>
</style>
