<template>
  <div class="card col-md-10">
    <div class="card-block">

      <h4 class="card-title">{{ $route.name }}</h4>

      <form @submit.prevent="editUser">

        <div class="form-group">
          <label>Имя</label>
          <input type="text" class="form-control" name="firstName" v-model="user.firstName">
        </div>

        <div class="form-group">
          <label>Фамилия</label>
          <input type="text" class="form-control" name="lastName" v-model="user.lastName">
        </div>

        <div class="form-check">
          <label>Пол</label>
          <br>
          <label class="form-check-label">
            <input class="form-check-input" type="radio" id="male" value="male" v-model="user.gender">
            Мужской
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="radio" id="female" value="female" v-model="user.gender">
            Женский
          </label>
        </div>

        <div class="form-group">
          <label>Дата рождения</label>
          <input type="date" class="form-control" name="birthDate" v-model="user.birthDate">
        </div>

        <div class="form-group">
          <label>Страна</label>
          <input type="text" class="form-control" name="country" v-model="user.country">
        </div>

        <div class="form-group">
          <label>Город</label>
          <input type="text" class="form-control" name="city" v-model="user.city">
        </div>

        <div class="form-group">
          <label>Контактный телефон</label>
          <input type="phone" class="form-control" name="phone" v-model="user.phone">
        </div>

        <button type="submit" class="btn btn-info">Подтвердить изменения</button>

      </form>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        editUser: {
          userRole: 'user',
          email:'',
          password:'',
          username: '',
          firstName: '',
          lastName: '',
          gender: 'male',
          birthDate: '',
          country: '',
          city: '',
          phone: ''
        },
        signupMessage: ''
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
      editUser() {
        console.log('done');
      }
    },
  }
</script>

<style>
</style>
