<template>
    <div class="col col-md-2 hidden-xs-down">
      <b-card class="mb-2" show-footer >
        <!--<img slot="img" class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="100%">-->
        <!--<hr>-->
        <!--<h4><strong>О себе</strong></h4>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>-->
        <!--<hr>-->
        <h5>Страна</h5>
        <p>{{currentUser.country}}, {{currentUser.city}}</p>
        <h5>Дата рождения</h5>
        <p>{{currentUser.birthDate}}</p>
        <!--<p>January 01 1901</p>-->
        <!--<small slot="footer" class="text-muted"> Last updated 3 mins ago </small>-->
      </b-card>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        fileName: '123'
      }
    },
    props: [
      'currentUser'
    ],
    methods: {
 /*     getFile() {
        this.$http.get('/api/getTheFile')
          .then((data) => {
          //this.fileName = data.body;
          console.log(this.fileName);
          return data.blob();
        })
          .then((blob) => {
            console.log(this.fileName+'4');
            this.fileName = blob;
            this.$refs.player.play();
          });
      }*/
    },
    components: {
    },
    computed: {
    }
  }
</script>

<style>
</style>
