<template>
  <div class="card col-md-10">
    <div class="card-block">

      <h4 class="card-title">Дополнительные контакты</h4>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Степень родства</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Телефон</th>
        </tr> </thead>
        <tbody>
        <tr v-for="parent in user.parents">
          <td>{{parent.type}}</td>
          <td>{{parent.firstName}}</td>
          <td>{{parent.lastName}}</td>
          <td>{{parent.phone}}</td>
        </tr>
        </tbody>
      </table>

      <button class="btn btn-info" v-if="user.parents.length > 0 && !addMoreParent" @click="addMoreParent = !addMoreParent">Добавить</button>
      <hr>
      <form @submit.prevent="addParentInfo(parent)" v-if="user.parents.length == 0 || addMoreParent">

        <div class="form-group">
          <b-form-select class="form-control" :options="parentType" v-model="parent.type" >
          </b-form-select>
        </div>

        <div class="form-group">
          <label>Имя</label>
          <input type="text" class="form-control" name="firstName" v-model="parent.firstName">
        </div>

        <div class="form-group">
          <label>Фамилия</label>
          <input type="text" class="form-control" name="lastName" v-model="parent.lastName">
        </div>

        <div class="form-group">
          <label>Контактный телефон</label>
          <input type="phone" class="form-control" name="phone" v-model="parent.phone">
        </div>

        <button type="submit" class="btn btn-info">Добавить</button>
        <button class="btn btn-default" v-if="addMoreParent" @click="addMoreParent = !addMoreParent">Отмена</button>
      </form>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        parentType: [
          {
            text: 'Мать',
            value: 'mother'
          },
          {
            text: 'Отец',
            value: 'father'
          },
          {
            text: 'Представитель',
            value: 'representative'
          }
        ],
        parent: {
          type: 'mother',
          firstName: '',
          lastName: '',
          phone: ''
        },
        addMoreParent: false
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
      ...mapActions([
        'addParentInfo'
      ])
    },
  }
</script>

<style>
</style>
