<template>
<!--    <div class="container-fluid content">
      <div class="row">
        <div class="list-group col col-md-2" v-if="$route.name != 'Game'">
          <router-link :to="{ name: 'AdminDashboard'}" class="list-group-item" active-class="list-group-item-success">Рабочая область</router-link>
          <router-link :to="{ name: 'AdminCourses'}" class="list-group-item" active-class="list-group-item-success">Курсы</router-link>
          <router-link :to="{ name: 'AdminTeachRequests'}" class="list-group-item" active-class="list-group-item-success">Заявки учителей</router-link>
          <router-link :to="{ name: 'AdminUsers'}" class="list-group-item" active-class="list-group-item-success">Пользователи</router-link>
        </div>

        <transition name="slide" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>-->
  <v-card>
    <v-tabs :scrollable="false">
      <v-tabs-bar class="grey lighten-4">
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tabs-item :to="{name: 'AdminDashboard'}" router>
          Обзор
        </v-tabs-item>
        <v-tabs-item :to="{name: 'AdminCourses'}" router>
          Курсы
        </v-tabs-item>
<!--        <v-tabs-item :to="{name: 'AdminTeachRequests'}" router>
          Заявки учителей
        </v-tabs-item>-->
        <v-tabs-item :to="{name: 'AdminUsers'}" router>
          Пользователи
        </v-tabs-item>
      </v-tabs-bar>

      <router-view></router-view>

    </v-tabs>

  </v-card>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {
    methods: {
    },
    components: {
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    }
  }
</script>

<style>
</style>
