<template>
  <v-flex>

    <v-data-table
      v-bind:headers="headers"
      :items="users"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item._id }}</td>
        <td>{{ props.item.email }}</td>
        <td><router-link :to="{ name: 'User', params: {id: props.item._id}}">{{ props.item.lastName + ' ' + props.item.firstName }}</router-link></td>
        <td>{{ props.item.birthDate }}</td>
        <td>{{ props.item.phone }}</td>
        <td class="justify-center layout px-0">
          <v-btn icon class="mx-0" @click="changeTeacherStatus(props.item._id)">
            <v-icon
              :color="getTeacherClass(props.item.userRoles)"
            >child_care</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="changeAdminStatus(props.item._id)">
            <v-icon
              :color="getAdminClass(props.item.userRoles)"
            >android</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>

  </v-flex>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {
    data() {
      return {
        users: [],
        dialog: false,
        headers: [
          {
            text: 'ID',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {text: 'Email', value: 'email', align: 'left'},
          {text: 'Фамилия Имя', value: 'name', align: 'left'},
          {text: 'Дата рождения', value: 'birthDate', align: 'left'},
          {text: 'Телефон', value: 'phone', align: 'left'},
          {text: 'Действия', value: 'actions', align: 'left', sortable: false}
        ]
      }
    },
    methods: {
      getUsers() {
        this.$http.get('/api/getUsers').then((data) => {
          //console.log('Success', data.body);
          this.users = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      },
      changeAdminStatus(_id) {
        this.$http.post('/api/changeAdminStatus',{id: _id}).then((data) => {
          console.log('Success', data);
          this.getUsers();
        }, (error) => {
          console.log('Error', error);
        });
      },
      changeTeacherStatus(_id) {
        this.$http.post('/api/changeTeacherStatus',{id: _id}).then((data) => {
          console.log('Success', data);
          this.getUsers();
        }, (error) => {
          console.log('Error', error);
        });
      },
      getTeacherClass(userRoles) {
        return userRoles.indexOf("teacher") != -1 ? 'pink' : 'blue lighten-4'
      },
      getAdminClass(userRoles) {
        return userRoles.indexOf("admin") != -1 ? 'teal' : 'blue lighten-4'
      }
    },
    components: {
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    created() {
      this.getUsers()
    }
  }
</script>

<style>
  .red {
    color: red;
  }
</style>
