<template>
  <v-card>
    <v-card-title>
      <h1 class="headline grey--text">Форма обратной связи</h1>

    </v-card-title>
  </v-card>
</template>

<script>
  export default {

  }
</script>

<style>
</style>
