<template>
  <v-toolbar app fixed clipped-left dark class="teal darken-3">
    <v-toolbar-side-icon @click="setDrawer"></v-toolbar-side-icon>
    <v-toolbar-title v-text="title"></v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon :to="{name: 'Home'}" exact>
      <v-icon>home</v-icon>
    </v-btn>
    <v-btn icon :to="{name: 'Courses'}">
      <v-icon>view_module</v-icon>
    </v-btn>
    <v-btn icon @click="logout" v-if="isAuthenticated">
      <v-icon>exit_to_app</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        title: 'Perfect Kid!'
      }
    },
    methods: {
      ...mapActions([
        'setDrawer',
        'logout'
      ])
    },
    computed: {
      ...mapGetters([
        'isAuthenticated'
      ]),
    }
  }
</script>

<style>
</style>

