<template>
  <v-layout justify-center>
    <v-flex>
      <v-form v-model="valid" ref="form" xs12 @submit.prevent="login(credentials)">
        <h3 class="display-1 light-blue--text  text--lighten-2">Войти</h3>

        <v-text-field
          label="E-mail"
          v-model="credentials.email"
          :rules="emailRules"
          required
        ></v-text-field>

        <v-text-field
          label="Пароль"
          v-model="credentials.password"
          :rules="passwordRules"
          type="password"
          required
        ></v-text-field>
        <!--        <v-select
                  label="Item"
                  v-model="select"
                  :items="items"
                  :rules="[(v) => !!v || 'Item is required']"
                  required
                ></v-select>
                <v-checkbox
                  label="Do you agree?"
                  v-model="checkbox"
                  :rules="[(v) => !!v || 'You must agree to continue!']"
                  required
                ></v-checkbox>-->

        <v-btn type="submit" :dark="valid" color="light-blue lighten-2" :disabled="!valid">Вход</v-btn>

        <v-alert outline :color="authMessage.success ? 'success' : 'error'" icon="warning" :value="true" v-if="authMessage.message">
          {{ authMessage.message }}
        </v-alert>

      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        credentials: {
          email: '',
          password: ''
        },
        valid: false,
        emailRules: [
          (v) => !!v || 'Поле E-mail обязательно к заполнению',
          (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Введите корректный E-mail адрес'
        ],
        passwordRules: [
          (v) => !!v || 'Поле Пароль обязательно к заполнению',
//          (v) => v && v.length <= 10 || 'Name must be less than 10 characters'
        ],
      }
    },
    computed: {
      ...mapGetters([
        'authMessage'
      ])
    },
    methods: {
      ...mapActions([
        'login'
      ]),
      submit () {
        if (this.$refs.form.validate()) {
          this.$refs.form.$el.submit()
        }
      }
    }
  }
</script>

<style>
</style>
