<template>
  <v-layout justify-center>
    <v-flex>
      <appLoginForm></appLoginForm>
      <p>Нужна учетная запись? <router-link to="/signup">Регистрация</router-link></p>
      <p>Или на <router-link to="/">домашнюю</router-link>.</p>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import LoginForm from './LoginForm.vue';

  export default {
    data() {
      return {}
    },
    methods: {
      ...mapActions([
        'login'
      ])
    },
    components: {
      appLoginForm: LoginForm
    }
  }
</script>

<style>
</style>
