<template>
  <v-navigation-drawer
    persistent
    :mini-variant="miniVariant"
    clipped
    fixed
    app
    v-model="drawer"
    enable-resize-watcher
  >
    <v-toolbar flat class="transparent">
      <v-list class="pa-0">
        <v-list-tile avatar >
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg" />
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              <router-link :to="{ name: 'User', params: {id: user._id}}"
                           class="teal--text text--lighten-1 profile-link"
                           active-class="text--darken-2"
              ><b>{{fullName}}</b></router-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-list class="pt-0" dense>
      <v-divider></v-divider>
      <v-subheader v-text="'Основные'"></v-subheader>

      <v-list-tile key="home" :to="{ name: 'Platform' }" exact>
        <v-list-tile-action>
          <v-icon light>person</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Платформа</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile key="friends" :to="{name: 'Friends'}">
        <v-list-tile-action>
          <v-icon light>group</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Пользователи</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile key="settings" :to="{name: 'Options'}">
        <v-list-tile-action>
          <v-icon light>settings</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Настройки</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
<!--
      <v-list-group v-for="item in userOptions" :value="item.active" :key="item.title">
        <v-list-tile slot="item" @click="">
          <v-list-tile-action>
            <v-icon>{{ item.action }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon>keyboard_arrow_down</v-icon>
          </v-list-tile-action>
        </v-list-tile>
        <v-list-tile v-for="subItem in item.options" :key="subItem.title" :to="subItem.route">
          <v-list-tile-content>
            <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon>{{ subItem.action }}</v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </v-list-group>-->

      <v-divider/>
      <v-subheader v-text="'Курсы'"></v-subheader>

      <v-list-tile key="courses" :to="{name: 'Courses'}">
        <v-list-tile-action>
          <v-icon light>collections_bookmark</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Все курсы</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <!--<v-list-tile key="student" :to="{name: 'Student'}">
        <v-list-tile-action>
          <v-icon light>school</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Кабинет студента</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-group v-for="item in studentPages" :value="item.active" :key="item.title">
        <v-list-tile slot="item" @click="">
          <v-list-tile-action>
            <v-icon>{{ item.action }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon>keyboard_arrow_down</v-icon>
          </v-list-tile-action>
        </v-list-tile>
        <v-list-tile v-for="subItem in item.items" :key="subItem.title" @click="" :to="subItem.route">
          <v-list-tile-content>
            <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon>{{ subItem.action }}</v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </v-list-group>-->

<!--
      <v-list-group v-for="item in games" :value="item.active" :key="item.title">
        <v-list-tile slot="item" @click="">
          <v-list-tile-action>
            <v-icon>{{ item.action }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon>keyboard_arrow_down</v-icon>
          </v-list-tile-action>
        </v-list-tile>
        <v-list-tile v-for="subItem in item.items" :key="subItem.title" @click="selectGame(subItem.titleEng)" :to="subItem.route">
          <v-list-tile-content>
            <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon>{{ subItem.action }}</v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </v-list-group>
-->

      <v-list-tile v-for="item in userCourses" :key="item.title" :to="item.route">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-divider v-if="isAuthenticated && user.userRoles.indexOf('teacher') != -1"/>
      <v-subheader v-text="'Инструменты преподавателя'" v-if="isAuthenticated && user.userRoles.indexOf('teacher') != -1"></v-subheader>

      <v-list-tile key="teacher" :to="{name: 'Teacher'}" v-if="isAuthenticated && user.userRoles.indexOf('teacher') != -1">
        <v-list-tile-action>
          <v-icon light>school</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Кабинет учителя</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-divider v-if="isAuthenticated && user.userRoles.indexOf('admin') != -1"/>
      <v-subheader v-text="'Инструменты администратора'" v-if="isAuthenticated && user.userRoles.indexOf('admin') != -1"></v-subheader>

      <v-list-tile key="admin" :to="{name: 'Admin'}" v-if="isAuthenticated && user.userRoles.indexOf('admin') != -1">
        <v-list-tile-action>
          <v-icon light>school</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Администрирование</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

    </v-list>

  </v-navigation-drawer>

</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../auth/auth'

  export default {
    data() {
      return {
        clipped: true,
        fixed: true,
        miniVariant: false,
        right: false,
        rightDrawer: false,
        title: 'Perfect Kid!',
        studentPages: [
          {
            action: 'school',
            title: 'Cтудент',
            active: false,
            items: [
              {title: 'StudentDashboard', action: 'settings', route: {name: 'StudentDashboard'}},
              {title: 'StudentCourses', action: 'settings', route: {name: 'StudentCourses'}},
              {title: 'StudentCourse', action: 'settings', route: {name: 'StudentCourse', params: {id: 'wtf'}}},
              {title: 'StudentMental', action: 'settings', route: {name: 'StudentMental'}}
            ]
          }
        ],
        userOptions: [
          {
            action: 'settings',
            title: 'Настройки',
            active: false,
            options: [
              {title: 'Основные', action: 'settings', route: {name: 'Options'}},
              {title: 'Безопасность', action: 'settings', route: {name: 'OptionsSecurity'}},
              {title: 'Дополнительно', action: 'settings', route: {name: 'OptionsExtra'}}
            ]
          }
        ]
      }
    },
    computed: {
      ...mapGetters([
        'user',
        'isAuthenticated',
        'gameList',
        'gameStarted',
        'userId',
        'fullName'
      ]),
      drawer: {
        get() {return this.$store.state.common.drawer;},
        set() {}
      },
      games () {
        return [
          {
            action: 'casino',
            title: 'Игра',
            active: false,
            items: this.gameList.map((title)=>{
              return {
                title: title.rus,
                titleEng: title.eng,
                action: 'settings',
                route: {
                  name: 'Game',
                  params: {name: title.eng}
                }
              }
            })
          },
        ]
      },
      userCourses () {
        return this.user.courses.studying.map((course) => {
          return {
            title: course.title,
            icon: 'collections_bookmark',
            route: {
              path: '/platform/my-courses/'+ course._id
            }
          }
        })
      }
    },
    methods: {
      ...mapActions([
        'selectGame',
        'logout'
      ])
    }
  }
</script>

<style>
  .profile-link {
    text-decoration: none;
  }
</style>


