<template>
  <div>
    <appNavigation v-if="!gameStarted"></appNavigation>
    <appHeader v-if="!gameStarted"></appHeader>
    <v-content>
      <v-container fluid>

        <v-card v-if="$route.name == 'Platform'">
          <v-card-title primary-title row wrap>
              <v-flex xs12>

                <h3 class="display-1 teal--text text--darken-2">Добро пожаловать</h3>
                <h4 class="headline teal--text text--lighten-1 mb-3"> на платформу ментальной арифметики</h4>
                <div>
                  <v-alert outline color="info" icon="info" :value="true" class="mb-3">
                    <p class="mb-1">Платформа работает в тестовом режиме. При возникноваении ошибок просим сообщить об этом через <router-link :to="{ name: 'Feedback' }">форму обратной связи</router-link>.</p>
                    <p class="mb-0">Ознакомиться с планом реализации продукта Вы можете в дорожной карте.</p>
                  </v-alert>
                  <p class="mb-0">Для получения возможности записи на курс Вам необходимо заполнить персональные данные. <router-link :to="{ name: 'Options' }">Перейти к настройкам</router-link></p>
                </div>
              </v-flex>
          </v-card-title>
        </v-card>

        <v-slide-y-transition mode="out-in">
          <router-view></router-view>
        </v-slide-y-transition>

      </v-container>
    </v-content>

    <v-footer :fixed="fixed">
      <span>&copy; 2018</span>
    </v-footer>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import Header from './Header.vue';
  import Navigation from './Navigation.vue';

  export default {
    data() {
      return {
        fixed: true
      }
    },
    computed: {
      ...mapGetters([
        'gameStarted'
      ]),
    },
    methods: {
      ...mapActions([
        'initUserInfo'
      ])
    },
    components: {
      appHeader: Header,
      appNavigation: Navigation
    }
  }
</script>

<style>
</style>
