<template>
  <v-layout justify-center>
    <v-flex>
      <appSignupForm></appSignupForm>
      <p>Есть учетная запись? <router-link to="/login">Войти</router-link></p>
      <p>Или на <router-link to="/">домашнюю</router-link>.</p>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import SignupForm from './SignupForm.vue';

  export default {
    data() {
      return {}
    },
    methods: {
      ...mapActions([
      ])
    },
    components: {
      appSignupForm: SignupForm
    }
  }
</script>

<style>
</style>
