<template>
  <v-layout justify-center>
    <v-flex>
      <v-form v-model="valid" ref="form" xs12 @submit.prevent="signup(user)">
        <h3 class="display-1 light-blue--text  text--lighten-2">Регистрация</h3>

        <v-radio-group v-model="user.userRole" row>
          <v-radio label="Я - ученик" value="user" ></v-radio>
          <v-radio label="Я - учитель" value="teacher"></v-radio>
        </v-radio-group>

        <v-text-field
          label="Имя"
          v-model="user.firstName"
          :rules="firstNameRules"
          required
        ></v-text-field>

        <v-text-field
          label="Фамилия"
          v-model="user.lastName"
          :rules="lastNameRules"
          required
        ></v-text-field>

        <v-text-field
          label="E-mail"
          v-model="user.email"
          :rules="emailRules"
          required
        ></v-text-field>
        <!--         <v-radio-group v-model="user.gender" row>
                   <v-radio label="Мужской" value="male" ></v-radio>
                   <v-radio label="Женский" value="female"></v-radio>
                 </v-radio-group>

                 <v-text-field
                   label="Дата рождения"
                   v-model="user.birthDate"
                   required
                 ></v-text-field>
                 <v-text-field
                   label="Страна"
                   v-model="user.country"
                   required
                 ></v-text-field>
                 <v-text-field
                   label="Город"
                   v-model="user.city"
                   required
                 ></v-text-field>
                 <v-text-field
                   label="Контактный телефон"
                   v-model="user.phone"
                   required
                 ></v-text-field>-->

        <v-text-field
          label="Пароль"
          v-model="user.password"
          :rules="passwordRules"
          type="password"
          required
        ></v-text-field>
        <!--        <v-select
                  label="Item"
                  v-model="select"
                  :items="items"
                  :rules="[(v) => !!v || 'Item is required']"
                  required
                ></v-select>
                <v-checkbox
                  label="Do you agree?"
                  v-model="checkbox"
                  :rules="[(v) => !!v || 'You must agree to continue!']"
                  required
                ></v-checkbox>-->
        <v-btn type="submit" :dark="valid" color="light-blue lighten-2" :disabled="!valid">Зарегистрироваться</v-btn>
        <!--        <br>
                <div v-if="signupMessage" class="alert alert-success" role="alert">{{ signupMessage }}</div>
                <p>Есть учетная запись? <router-link to="/login">Войти</router-link></p>
                <p>Или на <router-link to="/">домашнюю</router-link>.</p>-->

        <v-alert outline :color="authMessage.success ? 'success' : 'error'" icon="warning" :value="true" v-if="authMessage.message">
          {{ authMessage.message }}
        </v-alert>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        user: {
          userRole: 'user',
          email:'',
          password:'',
          firstName: '',
          lastName: '',
//          gender: 'male',
//          birthDate: '',
//          country: '',
//          city: '',
//          phone: ''
        },
        signupMessage: '',
        valid: false,
        emailRules: [
          (v) => !!v || 'Поле E-mail обязательно к заполнению',
      (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Введите корректный E-mail адрес'
    ],
      passwordRules: [
        (v) => !!v || 'Поле Пароль обязательно к заполнению',
//          (v) => v && v.length <= 10 || 'Name must be less than 10 characters'
    ],
      firstNameRules: [
        (v) => !!v || 'Поле Имя обязательно к заполнению',
//          (v) => v && v.length <= 10 || 'Name must be less than 10 characters'
    ],
      lastNameRules: [
        (v) => !!v || 'Поле Фамилия обязательно к заполнению',
//          (v) => v && v.length <= 10 || 'Name must be less than 10 characters'
    ],
      }
    },
    computed: {
      ...mapGetters([
        'authMessage'
      ])
    },
    methods: {
      ...mapActions([
        'signup'
      ]),
/*      signup() {
        this.$http.post('/api/signup', this.user).then((data) => {
          this.signupMessage = data.body;
          console.log(this.signupMessage);
          //this.$router.push('/login');
        }, (error) => {
          this.signupMessage = error.body;
          console.log('Error',error);
        })
      }*/
    }
  }
</script>

<style>
</style>
