<template>
  <div class="card col-10">
    <div class="card-block">
      <h4>Мои курсы</h4>
      <div class="alert alert-danger" role="alert" v-if="teacherCourses.length == 0">На данный момент вы не ведете ни один курс. Пожалуйста, выберите курс, который вы хотели бы преподавать.</div>
      <div v-if="teacherCourses.length != 0">
        <ul>
          <li v-for="course in teacherCourses">
            <router-link :to="{ name: routeName(course._id), params: {id: course._id}}">{{course.title}}</router-link>
          </li>
        </ul>
      </div>
      <hr>
      <h4>Начните преподавать больше курсов</h4>

      <form @submit.prevent="teachRequest()">
        <div class="form-group">
          <b-form-select v-model="selectedCourseId" :options="options" class="form-control">
          </b-form-select>
        </div>
        <button type="submit" class="btn btn-primary">Начать</button>
      </form>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        teacherCourses: [],
        selectedCourseId: null,
        options: []
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
      getCourses() {
        this.$http.get('/api/getCourses').then((data) => {
          let courses = [];
          courses.push({
            text: 'Пожалуйста, выберите курс',
            value: null
          });
          data.body.forEach(function(course) {
            courses.push({
              text: course.title,
              value: course._id
            });
          });
          this.options = courses;
        }, (error) => {
          console.log('Error', error);
        });
      },
      getTeacherCourses() {
        this.$http.get('/api/getTeacherCourses', {params: {id: this.user._id}}).then((data) => {
          this.teacherCourses = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      },
      teachRequest() {
        let body = {
          userId: this.user._id,
          courseId: this.selectedCourseId
        };
        this.$http.post('/api/teachRequest', body).then((response) => {
//          this.signupMessage = response.body;
          console.log(response);
        }, (response) => {
          console.log('Error',response);
        });
        this.getTeacherCourses();
      },
      routeName (id) {
        if (id == 'mental') {
          return 'TeacherMental';
        } else {
          return 'TeacherCourse';
        }
      }
    },
    created() {
      this.getTeacherCourses();
      this.getCourses();
    }
  }
</script>

<style>
</style>
