<template>
  <div class="row container-fluid">
    <div class="list-group col-2">
      <router-link :to="{ name: 'TeacherDashboard'}" class="list-group-item list-group-item-action" active-class="active">Мой кабинет</router-link>
      <router-link :to="{ name: 'TeacherCourses'}" class="list-group-item list-group-item-action" active-class="active">Мои курсы</router-link>
      <router-link :to="{ name: 'TeacherStudents'}" class="list-group-item list-group-item-action" active-class="active">Мои ученики</router-link>
      <a href="#" class="list-group-item list-group-item-action disabled">Мои занятия</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Домашнее задание</a>
    </div>
    <router-view></router-view>
    <div class="card col-10" v-if="$route.name == 'Teacher'">
      <div class="card-block">
        <h4 class="card-title">Кабинет учителя</h4>
        <hr>
        <p>Рейтинг: 10/10</p>
        <p>Всего учеников: 10</p>
        <p>Преподаю 3 курса</p>
        <p>Занятий сегодня: 2</p>
      </div>
    </div>
  </div>

</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {

  }
</script>

<style>
</style>
