<template>
  <div class="card">
    <div class="card-block">
      <h1>{{ course.title }}</h1>
      <p>{{ course.description }}</p>
      {{course}}
      <hr>
      {{user}}
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a :class="['nav-link',{'active':!teachMyself}]" @click="teachMyself = false">Преподаватели</a>
        </li>
        <li class="nav-item" v-if="course.isSelfStudy">
          <a :class="['nav-link',{'active':teachMyself}]" @click="teachMyself = true">Самостоятельно</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div :class="['tab-pane',{'active':!teachMyself}]">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>все</th>
              <th>Преподаватель</th>
              <th>Рейтинг</th>
              <th>Количество обученных(обучаемых)</th>
              <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="teacher in courseTeachers">
              <td>{{teacher}}</td>
              <td><router-link :to="{ name: 'User', params: {id: teacher._id}}">{{teacher.firstName + ' ' + teacher.lastName}}</router-link></td>
              <td>5/5</td>
              <td>20(5)</td>
              <td>
                <span v-if="user.teachers.requests.indexOf(teacher._id) != -1">Заявка подана</span>
                <button class="btn btn-outline-success btn-sm"
                        @click="studyRequest(teacher._id, false)"
                        v-if="user.teachers.requests.indexOf(teacher._id) == -1">
                  Подать заявку на обучение</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div :class="['tab-pane',{'active':teachMyself}]" v-if="course.isSelfStudy">
          <button class="btn btn-outline-success"
                  @click="studyRequest(null, false)">
            Приобрести доступ к платформе</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {mapActions} from 'vuex';
  import auth from '../../auth/auth'

  export default {
    data() {
      return {
        id: this.$route.params.id,
        course: {},
        courseTeachers: [],
        teachMyself: false,
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
      studyRequest(teacherId, isSelfStudy) {
        let payload = {
          courseId: this.course._id,
          userId: this.user._id,
          teacherId: teacherId,
          isSelfStudy: isSelfStudy
        };
        this.$http.put('/api/studyRequest', payload).then((data) => {
          console.log('Success', data);
        }, (error) => {
          console.log('Error', error);
        });
      }
    },
    created() {
      this.$http.get('/api/getCourseByID', {params: {id: this.id}}).then((data) => {
          console.log('Success', data);
          this.course = data.body;
        }, (error) => {
          console.log('Error', error);
        });
      this.$http.get('/api/getCourseTeachersByID', {params: {id: this.id}}).then((data) => {
        console.log('Success', data);
        this.courseTeachers = data.body;
      }, (error) => {
        console.log('Error', error);
      });
    }
  }
</script>

<style>
  .nav-item {
    cursor: pointer;
  }

  .tab-content {
    padding: 10px 0px;
  }
</style>
